* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  transition: all .2s ease;
}

nav ul li a:hover {
  box-shadow:0px 0px 5px 5px rgba(255, 255, 255, 0.6);
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

section {
  background-color: whitesmoke;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 5px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

section h1 {
  margin-bottom: 10px;
}

.highlight {
  color: rgb(242, 15, 61);
  font-weight: 600;
}

button,
.btn-primary {
  width: max-content;
  background-color: rgb(63, 137, 247);
  color: white;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease;
  margin: 3px 0px;
}

button:disabled, .btn-primary:disabled {
  background-color: rgba(63, 137, 247, 0.7) !important;
}

.btn-primary:disabled:hover {
  transform: none;
  box-shadow: none;
  cursor: no-drop;
}


button:hover,
.btn-primary:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  cursor: pointer;
}

button:active,
.btn-primary:active {
  transform: scale(0.97);
}

input {
  width: 200px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

ul,
ol {
  list-style-position: inside;
}

.green,
.passed {
  color: green;
}

.red,
.failed {
  color: red;
}

.passedBg {
  background-color: rgb(181, 255, 181);
}

.faildBg {
  background-color: rgb(255, 181, 181);
}
/* TABLE */

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

tbody {
  border-collapse: collapse;
  overflow: hidden;
}

thead tr {
  background-color: rgb(55, 138, 238);
  color: white;
}

th,
td {
  padding: 10px 20px;
  border: 1px solid black;
  text-align: center;
}
