<section>
  <h1>Componente 07</h1>

  <p
    [ngStyle]="{
      color: on ? 'green' : 'red',
      background: 'lightblue',
      padding: '4px 8px'
    }"
    (mouseover)="onMouseOver()"
  >
    Passe o mouse aqui
  </p>

  <br />

  <ul>
    <li
      *ngFor="let item of list"
      [ngClass]="item == 'Aprovado' ? 'green' : 'red'"
    >
      {{ item }}
    </li>
  </ul>

  <br />
  <h3>Lista de Estudantes</h3>
  <input
    (input)="search(inputSearch.value)"
    #inputSearch
    type="text"
    name="search"
    id="search"
    placeholder="Pesquisar nome..."
  />
  <ul>
    @for (estudent of estudents; track $index) {
    <li>
      {{ estudent.name }} - {{ estudent.semester }} - {{ estudent.grade }} -
      {{ estudent.status }}
    </li>
    } @empty {
    <p>A lista está vazia</p>
    }
  </ul>

  <table>
    <tbody>
      <tr>
        <th>Nº</th>
        <th>Nome</th>
        <th>Semestre</th>
        <th>Nota</th>
        <th>Situação</th>
      </tr>

      @for (estudent of estudents; track estudent.id) {
        <tr [ngClass]="estudent.grade >= 7 ? 'passedBg' : 'faildBg'">
          <td>{{ estudent.id }}</td>
          <td>{{estudent.name}}</td>
          <td>{{estudent.semester}}</td>
          <td>{{estudent.grade.toFixed(2)}}</td>
          <td>{{estudent.status}}</td>
        </tr>
      }
    </tbody>
  </table>
</section>
