.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.container-btns {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0px;
  border-radius: 5px;

  margin: 10px 0px;
  width: 100%;
}
