:host {
  width: 100%;
  max-width: 450px;
}

.container-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.container-btns {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  border-radius: 5px;

  margin: 10px 0px;
  width: 100%;
}
