.container-table {
  overflow-y: auto;
  width: 100%;
  max-width: 800px;
}

table {
  width: max-content;
  margin-top: 10px;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}

tbody {
  border-collapse: collapse;
  overflow: hidden;
}

tr:nth-of-type(1) {
  background-color: rgb(55, 138, 238);
  color: white;
}

th,
td {
  padding: 10px 20px;
  border: 1px solid black;
  text-align: center;
}

