:host {
  display: block;
}

h2 {
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  margin-right: 5px;
}

div > input[type="text"] {
  padding: 3px;
  margin-left: 4px;
  border-radius: 5px;
  border: 1px solid black;
  outline: 1px solid black;
}
