/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 748px;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: initial;
}

.btn-default-link {
  background-color: rgb(24, 23, 23);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.btn-default-link:hover {
  background-color: rgb(67, 67, 67);
}

.button-default {
  border-radius: 3px;
  border: none;
  transition: all 0.2s ease;
  font-weight: 600;
  will-change: transform;
  padding: 10px;
}

.button-default:enabled:hover {
  cursor: pointer;
  background-color: rgb(0, 140, 255);
  color: white;
}

.button-default:enabled:active {
  transform: scale(0.98);
}
