:host {
  width: 100%;
  min-width: 400px;
}

.card {
  background-color: rgb(24, 23, 23);
  color: white;
  padding: 10px;
  border-radius: 7px;
}

.card button {
  padding: 8px 10px;
}

.card button:first-of-type {
  margin-right: 5px;
}
